<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Login Usuario</h1>
        <form action="/user_login" method="post">
            <label for="legajo">Número de Legajo:</label>
            <input type="text" id="legajo" name="legajo" required>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
</body>
</html>
